@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    direction: rtl;
    font-family: 'Iranian Sans', sans-serif;
}
.logo{
    width: 50px;
}

/* page details------------- */
.image-gallery{
    width: 100%;
}
.image-gallery-slide img{
    height: 250px;
}
.image-gallery-thumbnail-inner img{
height: 70px;
}