@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    direction: rtl;
    font-family: 'Iranian Sans', sans-serif;
}
.logo{
    width: 50px;
}

/* page details------------- */
.image-gallery{
    width: 100%;
}
.image-gallery-slide img{
    height: 250px;
}
.image-gallery-thumbnail-inner img{
height: 70px;
}

/* page formCustomer */
.rmdp-container{
    width: 100%;
}
.rmdp-container input{
    width: 100%;
    padding: 1.3rem;
    margin-top: 14px;
    border:1px solid #e5e7eb;
    border-radius: 0.5rem;
}
/* slider home */
.swiper-wrapper{
    justify-content: center;
}

